<div class="layout-container">

    <header role="banner">
        {{ page.header }}
    </header>

    {{ page.primary_menu }}
    {{ page.secondary_menu }}

    {{ page.breadcrumb }}

    {{ page.highlighted }}

    {{ page.help }}

    <main role="main">
        <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

        <table name="maintable">
            <tr>
                <td>{{ page.sidebar1 }}</td>
                <td>{{ page.content }}</td>
                <td>{{ page.sidebar2 }}</td>
            </tr>
        </table>
    </main>

    {% if page.footer %}
        <footer role="contentinfo">
            {{ page.footer }}
        </footer>
    {% endif %}

</div>{# /.layout-container #}
