{# dirty maybe ... #}

{% set nice_classes = [] %}

{% for class in classes %}
    {% set nice_classes = nice_classes|merge([class|clean_class]) %}
{% endfor %}

Here is special class as a part of span:
<span{{ attributes.addClass(nice_classes) }}>{{ var1 }}</span>
$Var2[3]['g']: {{ var2.3.g }}
Translatable hello: {{ 'hello'|t }}

{% set minions = [] %}
{% set dummy_class = '' %}

{% for i in 0..myclasscount %}
    {% set minions = minions|merge([ 'minion' ~ i ]) %}
{% endfor %}
<div{{ some_custom_attributes.addClass(minions) }}>{{ 'hello'|t }}</div>
